@using Proyecto.Models
@{
    ViewBag.Title = "ProductosCarrito";
}

<h2>ProductosCarrito</h2>

@if (Session["PRODUCTOS"] == null)
{

    <h2 style="color:red">
        No hay ningún producto en el carrito
    </h2>
}
else
{
    <dl class="row">
        @foreach (Producto prod in Model)
        {
            <dt><img style="width:70px;height:70px;" src="~/img/@prod.Imagen" /></dt>
            <dd>@prod.Nombre</dd>
            <dd>@prod.Precio</dd>
            <dd>
                @Html.ActionLink("Eliminar del Carrito", "ProductosCarrito", "Producto", new { id = prod.IdProducto }, null)
            </dd>
            <br />
        }
    </dl>
}
@Html.ActionLink("Volver a los productos", "ListaProductos", "Producto")